body {
    background-color: #fff;
}
.AuthContainer {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    .innerAuthContainer {
        max-width: 300px;
        width: 100%;

        input {
            width: 100%;
            height: 30px;
            outline: none;
            border-radius: 5px;
            border: 1px solid black;
            padding-left: 7px;
            margin-bottom: 10px;
        }
        .btnDiv {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            button {
                width: 50%;
                height: 40px;
                background-color: #fff;
                color: black;
                transition: 0.2s;
                border: 1px solid;
                font-weight: 600;
                cursor: pointer;
                &:hover {
                    background-color: black;
                    color: #fff;
                    border: none;
                }
            }
        }
    }
}
.wrongTitle {
    color: red;
    text-align: center;
    padding-top: 30px;
    font-weight: 700;
}
