header {
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 100;
    padding: 30px 70px;
    background: rgba(0, 0, 0, 0.2);
    color: #f8f9fa;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    ul {
        list-style: none;
        display: flex;

        font-size: 15px;
        gap: 20px;
        align-items: center;
        a {
            text-decoration: none;
            color: #fff;
        }
    }
    .headerRightPannel {
        display: flex;
        align-items: center;
        gap: 25px;

        img {
            width: 20px;
        }
    }
}
.iconsDiv {
    ul {
        list-style: none;
        display: flex;

        font-size: 15px;
        gap: 20px;
        align-items: center;
        a {
            text-decoration: none;
            color: #fff;
        }
    }
}
